:root {
    --bg-main: #020617;        /* deep navy instead of pure black */
    --bg-card: #0f172a;        /* soft dark */
    --primary: #22c55e;        /* calm green */
    --accent: #38bdf8;         /* soft blue highlight */
    --text-main: #e2e8f0;      /* readable white */
    --text-muted: #8689bf !important;     /* secondary text */
}

body {
    background: var(--bg-main);
    color: var(--text-main);
    font-family: 'Courier New', monospace;
}

/* Navbar */
.navbar {
    background: var(--bg-main);
    border-bottom: 1px solid var(--bg-card);
}

/* Glow ONLY for headings */
.glow {
    color: var(--primary);
    text-shadow: 0 0 8px rgba(34,197,94,0.4);
}

/* Cards */
.card {
    background: var(--bg-card);
    border: 1px solid rgba(148,163,184,0.2);
    color: var(--text-main);
    transition: 0.3s;
}

.card:hover {
    border-color: var(--primary);
    box-shadow: 0 0 15px rgba(34,197,94,0.2);
    transform: translateY(-5px);
}


/* Section spacing */
section {
    padding: 60px 0;
}

/* Text hierarchy */
p {
    color: var(--text-muted);
}

.typing {
    border-right: 2px solid var(--primary);
    white-space: nowrap;
    overflow: hidden;
    width: 22ch;
    animation: typing 3s steps(22), blink .7s infinite alternate;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink {
    50% { border-color: transparent }
}